In [2]:
import pandas as pd
data = {'Column1': [1, 2, 3, 4],
        'Column2': ['A', 'B', 'C', 'D']}
df = pd.DataFrame(data)
df

   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D

In [3]:

# Displaying the number of rows and columns
num_rows, num_columns = df.shape
print(f"The DataFrame has {num_rows} rows and {num_columns} columns.")

The DataFrame has 4 rows and 2 columns.